/* 
---------------------------------------------
roadmap
--------------------------------------------- 
*/

.roadmap-full {
	position: relative;
	border-bottom: 1px dashed #CEE1F8;

	.roadmap-item-full {
		border-top: 1px dashed #CEE1F8;
		padding-top: 70px;
		padding-bottom: 70px;
		position: relative;
		@include transition(.3s);

		&:hover {
			background: #F3F8FF;

			.status {
				height: 174px;
			}
		}

		.date {
			float: right;
			color: $headingDark;
			@include font($normal, 18px);
			letter-spacing: 0.78px;
		}

		.status {
			position: absolute;
			left: 0px;
			right: 0px;
			top: -232px;
			width: 2px;
			height: 256px;
			background: #CEE1F8;
			margin: auto;
			z-index: 2;
			@include transition(.3s);

			&.complate {
				background: $primaryColor;

				&:before {
					background: $primaryColor;
				}
			}

			&:before {
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				bottom: 0px;
				left: -8px;
				background: #CEE1F8;
				box-shadow: 0 1px 18px 10px #F3F8FF;
				@include radius(100px);			
			}

			&:after {
				content: '';
				position: absolute;
				width: 66px;
				height: 66px;
				bottom: -24px;
				left: -32px;
				border: 1px solid #CEE1F8;
				z-index: 1;
				@include radius(100px);			
			}
		}
		&:first-child {
			.status {
				top: 24px;
				height: 0px;
			}
		}

		p {
			@include font($normal, 16px);
			color: $textDark;
			line-height: 28px;
			letter-spacing: 0.69px;
		}
	}
}

.roadmap-modern-wrapper {
	.roadmap-modern {
		background: #FFFFFF;
		border-radius: 4px;	
		padding: 30px;
		border: 1px solid #CEE1F8;
		position: relative;
		overflow: hidden;
		min-height: 220px;

		.status {
			position: absolute;
			left: 40px;
			top: 0px;
			width: 2px;
			height: 29px;
			background: #CEE1F8;
			z-index: 2;
			@include transition(.3s);

			&.complate {
				background: $primaryColor;

				&:before {
					background: $primaryColor;
				}
			}

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				bottom: 0px;
				left: -4px;
				background: #CEE1F8;
				box-shadow: 0 1px 18px 10px #F3F8FF;
				@include radius(100px);			
			}

			&:after {
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				bottom: -7px;
				left: -11px;
				border: 1px solid #CEE1F8;
				z-index: 1;
				@include radius(100px);			
			}
		}

		.date {
			float: left;
			width: 100%;
			margin-top: -17px;
			padding-left: 40px;
			@include font($normal, 18px);
			color: $headingDark;
			margin-bottom: 20px;
		}

		p {
			@include font($normal, 15px);
			color: $textDark;
			letter-spacing: 0.6;
			line-height: 27px;
		}
	}

	.owl-dots {
		margin-top: 30px !important;

		.owl-dot {
			outline: none;

			span {
				width: 13px;
				height: 13px;
				border: 1px solid $primaryColor;
				background: none;
				@include transition(.3s);
			}

			&.active {
				span {
					background: $primaryColor;
				}

				&:hover {
					span {
						transform: scale(1);
						background: $primaryColor;
					}
				}
			}

			&:hover {
				span {
					transform: scale(1.2);
					background: none;
				}
			}
		}
	}
}

.roadmap-lux-wrapper {
	.roadmap-lux {
		.header {
			position: relative;
			width: 74px;
			height: 38px;
			border-radius: 4px 4px 0px 0px;
			margin-left: 20px;
			background: lighten($primaryColor, 20%);

			&.complate {
				background: $primaryColor;

				.date {
					float: left;
					@include font($normal, 12px);
					color: #fff;
					margin-top: 5px;
				}

				i {
					float: left;
					width: 30px;
					height: 38px;
					text-align: center;
					line-height: 38px;
					font-size: 12px;
					color: darken($primaryColor, 30%);
				}
			}

			.date {
				color: $textDark;
				margin-top: 5px;
				float: left;
				@include font($normal, 12px);
			}

			i {
				float: left;
				width: 30px;
				height: 38px;
				text-align: center;
				line-height: 38px;
				font-size: 12px;
				color: lighten($primaryColor, 5%);
			}			
		}

		.text {
			background: #FFFFFF;
			border-radius: 4px;	
			padding: 30px;
			border: 1px solid #CEE1F8;
			position: relative;
			min-height: 195px;

			p {
				@include font($normal, 15px);
				color: $textDark;
				letter-spacing: 0.6;
				line-height: 27px;
			}			
		}
	}

	.owl-dots {
		margin-top: 30px !important;

		.owl-dot {
			outline: none;

			span {
				width: 13px;
				height: 13px;
				border: 1px solid $primaryColor;
				background: none;
				@include transition(.3s);
			}

			&.active {
				span {
					background: $primaryColor;
				}

				&:hover {
					span {
						transform: scale(1);
						background: $primaryColor;
					}
				}
			}

			&:hover {
				span {
					transform: scale(1.2);
					background: none;
				}
			}
		}
	}
}


@media (max-width : 768px) {
	.roadmap-full {
		.roadmap-item-full {

			&:hover {
				.status {
					height: 60px;
				}
			}

			.date {
				float: none;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.status {
				height: 0px;
				top: 30px;
			}

			p {
				text-align: center;
			}
		}
	}
}