/*
---------------------------------------------
technical summary
---------------------------------------------
*/

#technical-summary {
  padding-top: 0px;
  .section-title {
    @include font($medium, 18px);
    color: $headingDark;
    letter-spacing: 0.77px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  p {
    @include font($normal, 16px);
    color: $textDark;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}